.form-container {
  width: 25rem;
  height: 28rem;
  border: 0.2em inset black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  box-shadow: 2px 20px 20px -7px rgba(12, 12, 12, 0.35);
  margin: 1rem;
  border-radius: 10%;
}

.color-circle {
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid black;
  border-radius: 50%;
}

/* .label-red:hover{
    background-color: aqua;

} */

input#radioRed,
input#radioBlue,
input#radioWhite,
input#radioYellow,
input#radioGreen,
input#radioPink,
input#radioPurple,
input#radioBrown,
input#radioCornFlowerBlue,
input#radioOrange,
input#radioGray,
input#radioTeal {
  display: hidden;
  opacity: 0;
  margin: 1em;
}

.radio-color {
  display: flex;
  padding: 1em;
  margin: 1em;
  width: 17em;
  height: 1em;
  flex-flow: wrap;
}

.pinned-button {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  /* width: 21rem; */
  height: 5em;
  align-items: flex-end;
}

.post-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 8em;
  margin: 0 -1em;
}
.button-post {
  font-size: x-large;
}

.button-archived,
.button-pinned,
.button-post,
.button-close {
  background: none;
  border: none;
}

.close-button {
  display: flex;
  justify-content: flex-start;
}

.fas, .far{
  font-size: xx-large;
}
.fa-check {
  font-size: x-large;
}

.title-div {
  margin-bottom: 1rem;
}

.content-input {
  width: 15em;
  height: 10em;
}
.input-title {
  width: 13.7rem;
}

.form-page {
  display: flex;
  justify-content: center;
}

#notePinned{
  -webkit-text-fill-color: rgba(247, 242, 242, 0);
  -webkit-text-stroke: 0.2rem black;
}