.form-container {
  width: 35rem;
  height: 18rem;
  border: 0.2em inset black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  /* justify-content: center; */
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  /* flex-direction: revert; */
  padding: 2rem;
  -webkit-box-shadow: 2px 20px 20px -7px rgb(12 12 12 / 35%);
  box-shadow: 2px 20px 20px -7px rgb(12 12 12 / 35%);
  margin: 1rem;
  border-radius: 1rem;
  justify-content: space-evenly;
}

.color-circle {
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid black;
  border-radius: 50%;
}

/* .label-red:hover{
    background-color: aqua;

} */

input#radioRed,
input#radioBlue,
input#radioWhite,
input#radioYellow,
input#radioGreen,
input#radioPink,
input#radioPurple,
input#radioBrown,
input#radioCornFlowerBlue,
input#radioOrange,
input#radioGray,
input#radioTeal {
  display: hidden;
  opacity: 0;
  margin: 1em;
}

.radio-color {
  display: flex;
  padding-top: 1rem;
  margin: 0em;
  width: 27em;
  height: 1em;
  flex-flow: wrap;

  padding-bottom: 5rem;
}

.pinned-Button.note-form {
  /* display: flex;
  justify-content: flex-end;
 */
  /* width: 21rem; */
  /* height: 5em;
  align-items: flex-end;  */
}

.post-button.note-form {
  display: flex;
  align-self: center;
  margin: 0 -2rem;
  padding: 0 0rem;
}
.button-post {
  font-size: x-large;
}

.button-archived,
.button-pinned,
.button-post,
.button-close {
  background: none;
  border: none;
}

button.button-post{
    font-size: large;
}

button.button-close{
 font-size: medium;
}

.fas.button-pinned{
    font-size: x-large;
}

.close-button {
  display: flex;
  justify-content: flex-start;
}

.fas,
.far {
  font-size: x-large;
}
.fa-check {
  font-size: x-large;
}

.title-div {
  margin-bottom: 1rem;
}

.content-input {
  min-width: 20rem;
  min-height: 5rem;
  border: none;
  background: none;
}
.input-title {
  border: none;
  background: none;
  min-height: 2rem;
}

.form-page {
  display: flex;
  justify-content: center;
}

#notePinned {
  -webkit-text-fill-color: rgba(247, 242, 242, 0);
  -webkit-text-stroke: 0.2rem black;
}

.postAndarchived-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.closeAndpinned {
  display: flex;
  justify-content: flex-end;
  height: 0rem;
  z-index: 10000;
}
