.note-div {
  width: 14rem;
  height: 5rem;
  /* border: 0.2em inset black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  
  margin: 1rem;
  border-radius: 0.5rem;
}

.note-div:hover{
   box-shadow: 2px 20px 20px -7px rgba(12, 12, 12, 0.35);
}

.note-content {
  /* -webkit-backdrop-filter: blur(20px);
  background-color: rgba(230, 230, 230, 0.322);
  backdrop-filter: blur(165px);
  display: flex; */
  width: 10.5rem;
  height: 5.5rem;
  align-items: center;
  padding: 0.3rem;
  text-align: center;
}

.archived-container {
  margin: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: lavenderblush;
}

.nav-container {
  height: 100vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
}

.main-page-container {
  display: flex;
}

.nav-container a{
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-container button{
  text-decoration: none;
  background: none;
  border: none;
  font-size: 1.2rem;
}

.fas, .far{
  font-size: x-large;
}
.fa-check {
  font-size: x-large;
}


.button-archived,
.button-pinned,
.button-post,
.button-close {
  background: none;
  border: none;
}

.pinned-button,
.archived-button{
background: none;
border: none;

}

.archived-notes-buttons{
  display: absolute;
  position: absolute;
  align-items: baseline;
  z-index: 100;
  padding-right: -45rem;
  width: 4rem;
  flex-flow: column;
  text-align: -webkit-center;
}

.archived-button.archive-page .far {
  font-size: small;
}


.pinned-button .fas {
  font-size: small;
}

#notePinned{
  -webkit-text-fill-color: rgba(247, 242, 242, 0);
  -webkit-text-stroke: 0.1rem black;
}

.archived-notes-buttons{
    opacity: 0;
}
.note-container:hover .archived-notes-buttons{
    opacity: 1;
}

.note-container{
    width: fit-content;
    height: fit-content;
}

.h1-archived {
  margin-left: 1em;
margin-top: 9rem;
}