.note-div {
  width: 12rem;
  height: 12rem;
  border: 0.1em outset black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}

.note-content {
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(230, 230, 230, 0.322);
  backdrop-filter: blur(165px);
  display: flex;
  width: 10.5rem;
  height: 5.5rem;
  align-items: center;
  padding: 0.3rem;
}

.notes-container {
  margin: 2rem;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

.pinned-container {
  margin: 2rem;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}
