.sign-up-form-container {
  background-color: rgba(243, 242, 242, 0.938);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  max-width: 24rem;
  margin: auto;
  width: 100%;
}

.sign-up-h1 {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

.form-input {
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 90%;
  border-color: rgba(243, 244, 246, 0.712);
  border-width: 1px;
  display: block;
  margin-top: 0.01rem;
}

.form-itself {
  background-color: white;
  color: black;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.25rem;
  height: 70vh;
}

/* .sign-up-container {
    display: flex;
    justify-content: center;
    align-content: center;

} */
/* 
body{
    background-color: lightgrey;
} */

.text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
}

.signing-button{
    border: none;
    background: none;
    width: 97%;
    background-color: lightblue;
    color: white;
    padding: 0.75rem;
    border-radius: 0.25rem;
    text-align: center;
    margin: 0.5rem 0;
    cursor: pointer;

}

.signing-button:hover{
    background-color: darkblue;
    cursor: pointer;
}