.splash-container {
  background-image: url("../../images/amanda-jones-feLC4ZCxGqk-unsplash.jpg");
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  position: absolute;
}

.title-access{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.splash-links{
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.signup-link,
.login-link{
  text-decoration: none;
  margin: 0 1rem;
  color: white;
  cursor: pointer;
  font-size: medium;
}