.avatar-img{
    border-radius: 50%;
    height: 3em;
    width: 3em;
    margin: 0 1em;
}

.user-profile,
.notes-page,
.archived-page,
.log-out-button{
    margin: 1rem 0;

}


.archived-page:hover{
    background-color: lightgray;
    padding: 0.5rem 1em;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}


.log-out-button:hover{
    background-color: lightgray;
    padding: 0.5rem 1em;
    border-radius: 1rem;
    display: flex;
    justify-content: center;

}

.notes-page:hover{
    background-color: lightgray;
    padding: 0.5rem 1em;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

 a{
    color:black;
}

.tool-tip .tool-tip-text{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1000000;

}

.tool-tip:hover .tool-tip-text{
    visibility: visible;
}

.user-profile:hover .tool-tip-text{
    visibility: visible;
}